<h2>Reactive Form</h2>
<div>
  <form [formGroup]="reactiveForm">
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />
    </div>
    <div>
      <label for="age">Age</label>
      <input type="number" id="age" formControlName="age" />
    </div>
    <button type="submit" [disabled]="reactiveForm.invalid">Submit</button>
  </form>
</div>
